# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/


# IntelliJ
.idea/
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

*damlCodegen/
*.daml/

*.log
log/
*.img
